<div class="landing-page">
    <div class="content">
        <div class="logo">
            <img src="assets/svg/raidguild_logo.svg" alt="Raid Guild Logo" />
        </div>
        <div class="text-content">
            <h2>Prove your membership at RaidGuild DAO to get access to Dungeon Master.</h2>
            <p>Click on 'Continue with WIDE' to securely present your credentials for verification. Once your
                eligibility is confirmed, you'll gain access to your member profile and the overview of active Raids.
            </p>
        </div>
        <div class="buttons">
            <button>Continue with WIDE</button>
            <button class="btn-alt">Member Login</button>
        </div>
    </div>
</div>