<div class="content">
    <div class="content-center">
        <div class="icon"><i class="mdi mdi-emoticon-sad-outline text-primary"></i></div>
        <div class="text">
            <h2>Uh-oh! Looks like the raid party lost its way.</h2>
            <p>The page you are looking for cannot be found. Make sure you are tryign to access a page that exists.</p>
            <p>If you believe this is an error or if you have any questions, please reach out to <a
                    href="mailto:hi@wid3.org">hi&#64;wid3.org</a> for assistance.</p>
        </div>
    </div>
</div>