<div class="content">
    <div class="left panel">
        <div class="content-message">
            <div class="icon"><i class="mdi mdi-check text-success"></i></div>
            <div class="text">
                <h2>Success! Your membership has been verified.</h2>
                <p>Your Profile on DM has been created. Now you can add some information about yourself by clicking on your member profile.</p>
                <div class="button">
                    <button (click)="logout()">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="right panel">
        <app-member-panel></app-member-panel>
    </div>
</div>