<div class="content">
    <div class="left panel">
        <div class="content-message">
            <div class="icon"><i class="mdi mdi-check text-success"></i></div>
            <div class="text">
                <h2>Success! You are now logged in.</h2>
                <p>You have successfully entered the dungeon master. You can use this space to update and maintain your profile or embark on raids.</p>
                <div class="button">
                    <button class="btn-alt" (click)="logout()">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="right panel">
        <app-member-panel></app-member-panel>
    </div>
</div>